{{'main-product-subscription.css' |asset_url |stylesheet_tag}}
<div class = "subscription-box">
  <div class = "subscription-header">
        <input type="radio" id = "subscribe" name="subscription-option" checked>
        <span class="radio-circle"></span>
    <h3> Subscribe & Save </h3>
  <div class="discount-box">
  <span>30% off </span>
    <span class="price">{{ product.price }}</span>
    {% if product.compare_at_price > product.price %}
      <span class="compare-price">{{ product.compare_at_price }}</span>
    {% endif %}
  </div>
      </div>
  <ul class = "feature-list">
   <li> 
    <img src = "{{'Group 143373.png' | asset_url}}" >
    <p>Save 30% now and 15% on repeat deliveries</p>
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}" >
      <p> Cancel, skip & change anytime </p> 
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}" >
        <p> Free shipping on every order </p>
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}"  >
        <p> Satisfaction guaranteed </p>
    </li>
  </ul>
  <div class = "custom-select-wrapper">
  Deliver every 4 weeks
  <span class = "drop-down-icon">
        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7 10l5 5 5-5" stroke="#666" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
  </span>
    </div>
    <div class ="purchase-options">
        <input type="radio" id ="onetime" name ="purchase">
        <label for="onetime" class="visually-hidden">One-Time Purchase</label>
        <span class ="price">{{product.compare_at_price}}</span>
    </div>
</div>