
<div class = "">
  <div class = "modus-heading">
    <h2>{{ section.settings.modus_heading }}</h2>
    </div>
  <div class = "modus-blocks">
    {% for block in section.blocks %}
      <div class="block-left-column">
        <h3 class="left-column-heading">{{ block.settings.Kratom_heading }}</h3>
        <p class="left-column-content">{{ block.settings.Kratom_para }}</p>
      </div>
    <div class="block-right-column-card">
      <div class="card-background">
        <div class="card-image">
          <img src="{{ block.settings.card_image |image_url: width: block.settings.card_image.width, height: block.settings.card_image.height }}">
        </div>
      </div>
      <p>{{ block.settings.card_text }}</p>
      <a>{{ block.settings.button_text }}</a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "modus_heading",
        "label": "Enter Heading for this section"
      }
    ],
    "blocks":[
      {
        "type": "Text",
        "name": "card and text",
        "settings": [
          {
        "type": "text",
        "id": "Kratom_heading",
        "label": "Enter Heading for this section"
      },
       {
        "type": "textarea",
        "id": "Kratom_para",
        "label": "Enter Paragraph text for this section"
      },
      
      {
        "type": "image_picker",
        "id": "card_image",
        "label": "choose image for this card"
      },
      {
        "type": "textarea",
        "id": "card_text",
        "label": "Enter text for this card"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Choose Text for this Button",
        "default": "SHOP NOW"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Paste Link to open when user click this Button",
      },
    ]
      }
    ],
    "presets": [
      {
        "name": "ENHANCED ARTICLE BANNER"
      }
    ]
  }
{% endschema %}