{{'read-articles.css' |asset_url |stylesheet_tag  }}
<div class = "read-article-section">
  <div class="header">
    <h2>{{ section.settings.articles_heading }}</h2>
  </div>
  <div class="blocks-container">
    {% for block in section.blocks %}
      <div class = "article-card"
        style="background-image: url('{{ block.settings.back_image | image_url: width:block.settings.back_image.width , height: block.settings.back_image.height }}');
        background-size: cover;
        background-repeat: no-repeat";
        >
        <div class="overlay"></div>
        <a class="learn-button" href="{{ block.settings.learn_button }}">{{ block.settings.learn_text }} </a>
        <p class = "card-title">{{ block.settings.article_title |newline_to_br }}</p>
        <a class="read-button" href="{{ block.settings.article_button }}">{{ block.settings.article_button_text }} </a>
      </div>
      {% endfor %}
  </div>
</div>



{% schema %}
  {
    "name": "Read Related Articles",
    "settings": [
      {
        "type": "text",
        "id": "articles_heading",
        "label": "Enter Text for Section Heading"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "article-card",
        "settings": [
          {
            "type": "image_picker",
            "id": "back_image",
            "label": "Choose Bg Image for Article",
          },
           {
            "type": "textarea",
            "id": "article_title",
            "label": "Enter title for article",
          },
           {
            "type": "url",
            "id": "article_button",
            "label": "Enter Link for article",
          },
           {
            "type": "text",
            "id": "article_button_text",
            "label": "Enter Text for button",
          },
          {
            "type": "url",
            "id": "learn_button",
            "label": "Enter Link for Learn Button",
          },
           {
            "type": "text",
            "id": "learn_text",
            "label": "Enter Text for Learn button",
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Read Related Articles"
      }
    ]
  }
{% endschema %}